<div class="page" style="padding: 20px 0 40px;">
  <div *ngIf="recetas.length > 0" style="display: flex; justify-content: right; max-width: 85%;">
    <button pButton [routerLink]="'/doctor/recetas/nueva'"
      style="background-color: #0A3D61; color: #fff; padding: 8px 16px; font-weight: 600; text-transform: uppercase; border: none; border-radius: 30px; cursor: pointer; font-size: 14px; display: flex; align-items: center; justify-content: center;">
      <i class="pi pi-plus" style="margin-right: 8px;"></i> Nueva Receta
    </button>
  </div>
  <div class="title" style="color: #0a3d61; font-weight: 900; text-align: center; font-size: 36px;">
    <i class="pi pi-receipt" style="margin-right: 10px; font-size: 40px;"></i> Recetas
  </div>
  <div class="muted" style="color: #5c7d95; margin: 6px 0 0; text-align: center;">
    Gestión de recetas.
  </div>

  <div *ngIf="recetas.length === 0" class="no-recetas" style="display: flex; justify-content: center; align-items: center; flex-direction: column; margin-top: 30px; max-height: 20%;">
    <div class="message-container" style="background-color: #fff; padding: 20px; border-radius: 12px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); text-align: center; width: 100%; max-width: 400px; display: flex; align-items: center; justify-content: center;">
      <i class="pi pi-info-circle message-icon" style="margin-right: 10px; font-size: 24px; color: #0a3d61;"></i>
      <p class="message" style="font-size: 22px; color: #333; margin: 0; font-weight: 600;">No hay recetas disponibles.</p>
    </div>
    <button pButton class="btn-create" [routerLink]="'/doctor/recetas/nueva'" style="background-color: #0A3D61; color: #fff; padding: 10px 20px; border-radius: 30px; font-weight: 600; text-transform: uppercase; border: none; cursor: pointer; transition: background-color 0.3s ease, transform 0.2s ease; font-size: 16px; margin-top: 20px; width: 100%; max-width: 300px; display: flex; justify-content: center; align-items: center;">
      <i class="pi pi-plus" style="margin-right: 10px;"></i> Crear nueva receta
    </button>
  </div>

  <div *ngIf="recetas.length > 0" class="cardx" style="background-color: #fff; padding: 20px; border-radius: 12px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); margin-top: 30px;">
    <p-table [value]="recetas" [paginator]="true" [rows]="10" [loading]="loading">
      <ng-template pTemplate="header">
        <tr style="font-weight: 600; font-size: 14px; text-align: center; background-color: #f4f4f4;">
          <th>Medicamento</th>
          <th>Dosis</th>
          <th>Tratamiento</th>
          <th>Acciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-receta>
        <tr style="text-align: center; border-bottom: 1px solid #e3eef7;">
          <td style="font-size: 14px; color: #777; padding: 12px 15px;">{{ receta.medicamento }}</td>
          <td style="font-size: 14px; color: #777; padding: 12px 15px;">{{ receta.dosis }}</td>
          <td style="font-size: 14px; color: #777; padding: 12px 15px;">{{ receta.tratamiento.diagnostico }}</td>
          <td>
            <button pButton icon="pi pi-pencil" style="background-color: #0A3D61; color: #fff; padding: 5px 15px; border-radius: 14px; font-weight: 600; text-transform: uppercase; border: none; cursor: pointer; transition: background-color 0.3s ease, transform 0.2s ease; font-size: 12px; margin-right: 8px;"
              [routerLink]="['/doctor/recetas', receta.idReceta]">
              <i class="pi pi-pencil" style="margin-right: 5px;"></i>
              Editar
            </button>

            <button pButton icon="pi pi-trash"  style="background-color: #d9534f; color: #fff; padding: 5px 15px; border-radius: 14px; font-weight: 600; text-transform: uppercase; border: none; cursor: pointer; transition: background-color 0.3s ease, transform 0.2s ease; font-size: 12px;" (click)="confirmDelete(receta)">
              <i class="pi pi-trash" style="margin-right: 5px;"></i> Eliminar
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<div *ngIf="error" class="error-message">{{ error }}</div>

<div class="modal-backdrop" *ngIf="showConfirmDeleteModal" (click)="closeConfirmDeleteModal()"></div>

<div class="modal-dialog-container" *ngIf="showConfirmDeleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmación de Eliminación</h5>
        <button type="button" class="close" (click)="closeConfirmDeleteModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que deseas eliminar esta receta?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeConfirmDeleteModal()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="deleteReceta()">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<style>
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
  }

  .modal-dialog-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1051;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .modal-dialog {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 500px;
    max-width: 100%;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e3eef7;
  }

  .modal-title {
    font-size: 20px;
    color: #0a3d61;
    font-weight: 1000;
  }

  .close {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #0a3d61;
    cursor: pointer;
  }

  .modal-body {
    font-size: 16px;
    color: #333;
    text-align: center;
    padding: 20px;
  }

  .modal-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e3eef7;
    padding: 10px;
  }

  .btn-secondary,
  .btn-danger {
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 8px;
  }

  .btn-secondary {
    background-color: #f8f9fa;
    color: #0a3d61;
    border: none;
  }

  .btn-danger {
    background-color: #d9534f;
    color: #fff;
    border: none;
  }

  .btn-secondary:hover,
  .btn-danger:hover {
    background-color: #c0c0c0;
  }

  /* Estilo para el título de la página */
  .title {
    color: #0a3d61;
    font-weight: 900;
    text-align: center;
    font-size: 36px;
  }

  .muted {
    color: #5c7d95;
    margin: 6px 0 0;
    text-align: center;
  }

  /* Estilos para los botones de la tabla */
  .btn-vital {
    display: inline-block;
    background-color: #0a3d61;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-transform: uppercase;
  }

  .btn-vital:hover {
    background-color: #54777e;
    transform: scale(1.05);
  }

  .btn-vital:active {
    background-color: #0a3d61;
    transform: scale(1);
  }
</style>
