:root {
  --vc-primary: #0A3D61;
  --vc-secondary: #87BEE0;
  --vc-mid: #3875A1;

  --vc-brown-dark: #613F0A;
  --vc-brown: #B68C4F;
  --vc-cream: #FFE7C3;

  --vc-bg: #ffffff;
  --vc-text: #0b1220;

  --vc-radius-xl: 22px;
  --vc-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}