@use "@angular/material" as mat;

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$cyan-palette
  ),
  typography: (
    brand-family: "Inter, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif",
    plain-family: "Inter, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif"
  )
));

:root {
  @include mat.all-component-themes($theme);
}