<div class="citas-list" *ngIf="!loading">
  <!-- Mostrar mensaje si no hay citas -->
  <div *ngIf="citas.length === 0" class="no-citas">
    <div class="message-container">
      <i class="pi pi-info-circle message-icon"></i>
      <p class="message">No tienes citas programadas.</p>
    </div>
    <button pButton class="btn-create" [routerLink]="'/doctor/citas/nueva'">
      <i class="pi pi-plus"></i> Crear nueva cita
    </button>
  </div>

  <!-- Mostrar tabla si hay citas -->
  <p-table *ngIf="citas.length > 0" [value]="citas" [paginator]="true" [rows]="10" [loading]="loading">
    <ng-template pTemplate="header">
      <tr>
        <th>Paciente</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Motivo</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-cita>
      <tr>
        <!-- Mostrar datos de las citas -->
        <td>{{ cita.paciente.nombre }} {{ cita.paciente.appat }} {{ cita.paciente.apmat }}</td>
        <td>{{ cita.fecha | date: 'dd/MM/yyyy' }}</td>
        <td>{{ cita.hora | date: 'HH:mm' }}</td>
        <td>{{ cita.motivo }}</td>
        <td [ngClass]="getStatusClass(cita.fecha)">{{ getStatus(cita.fecha) }}</td>
        <td>
          <button pButton label="Editar" [routerLink]="'/doctor/citas/' + cita.idCita"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Mostrar el mensaje de error -->
<div *ngIf="error" class="error-message">{{ error }}</div>
