<form [formGroup]="recetaForm" (ngSubmit)="saveReceta()" *ngIf="!loading">
  <div class="form-group">
    <label for="medicamento">Medicamento</label>
    <input formControlName="medicamento" type="text" id="medicamento" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="dosis">Dosis</label>
    <input formControlName="dosis" type="text" id="dosis" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="idTratamiento">Tratamiento</label>
    <select formControlName="idTratamiento" id="idTratamiento" class="form-control" required>
      <option *ngFor="let tratamiento of tratamientos" [value]="tratamiento.idTratamiento">
        {{ tratamiento.diagnostico }}
      </option>
    </select>
  </div>

  <button type="submit" [disabled]="recetaForm.invalid" class="btn btn-primary">
    {{ recetaId ? 'Actualizar' : 'Crear' }} Receta
  </button>
</form>
